<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" thread-count="2" parallel="tests">
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="ParallelTest" />
        </classes>
    </test>
    <test name="chrometest">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="ParallelTest" />
        </classes>
    </test>
</suite>